*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	top: 60px;
	transform: translateX(-50%);
}

tr,td{
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border: initial;
	box-sizing: border-box;
	position: relative;
}
td{
	text-align: center;
	border: 1px solid black;
}
td button{
	width: 100%;
	height: 100%;
}
#startt{
	font-size: 20px;
	margin-top: 10px;
    width: 150px;
    height: 39px;
	background: lime;
	color: black;
	position: absolute;
	left: 50%;
	cursor: pointer;
	transform: translateX(-50%);
}
.td_easy button{
	font-size: 20px;
}
.td_easy button p{
	margin: 10px;
}
.easy_p{
	padding: 2.3vw;
}