*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

tr,td{
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border: initial;
	box-sizing: border-box;
	position: relative;
}
td{
	text-align: center;
	border: 1px solid black;
}
td button{
	width: 100%;
	height: 100%;
}
button{
	font-size: 30px;
}