*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table{
	width: 500.2px;
	height: 500px;
	border: 1px solid black;
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	top: 60px;
	transform: translateX(-50%);
}

tr,td{
	border: 1px solid black;
	border: initial;
	box-sizing: border-box;
	position: relative;
}
td{
	text-align: center;
	border: 1px solid black;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
td button{
	width: 100%;
	height: 100%;
}
#faces{
    width: 50px;
    height: 50px;
	background-image: url("faces.gif");
	background-size: 280px;
	cursor: pointer;
	transform: translateX(-50%);
}
.td_easy button{
	font-size: 20px;
}
.td_easy button p{
	margin: 10px;
}
.td_hard button p{
	margin: 0px;
	padding: 0;
    font-size: 13px;
}
.td_easy{
	width: 49.81px;
    height: 63px;
}
.td_medium{
	width: 27.67px;
    height: 36px;
}
.td_hard{
	width: 20.75px;
    height: 25px;
    font-size: 11px;
}
.color_1{
	color: blue;
}
.color_2{
	color: green;
}
.color_3{
	color: red;
}
.color_4{
	color: purple;
}
.color_5{
	color: maroon;
}
.color_6{
	color: turquoise;
}
.color_7{
	color: black;
}
.color_8{
	color: gray;
}

td > p{
	padding: 35%;
}
@supports (-ms-ime-align:auto) {
    selector {
        property: value;
    }
}
.smile{
	background-position: 0 70px;
}
.click_smile{
	background-position: -51px 69px;
}
.die_smile{
	background-position: -152px 69px;
}
.hmm_smile{
	background-position: -101px 70px;
}
select{
	cursor: pointer;
	transform: translateX(-50%);
	width: 96px;
    height: 25px;
    text-align: center;
}
.flag_length{
    width: 21px;
    height: 35px;
    border: 1px solid black;
    background-size: 201px;
    background-image: url(faces.gif);
}
#header{
	height: 50px;
    width: 57%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto;
}
.number0{
	background-position: 0 0;
}
.number1{
	background-position: -17px 0px;
}
.number2{
	background-position: -35px 0px;
}
.number3{
	background-position: -53px 0px;
}
.number4{
	background-position: -71px 0px;
}
.number5{
	background-position: -89px 0px;
}
.number6{
	background-position: -107px 0px;
}
.number7{
	background-position: -125px 0px;
}
.number8{
	background-position: -143px 0px;
}
.number9{
	background-position: -161px 0px;
}
.number-{
	background-position: -179px 0px;
}
#numbers_length{
	display: flex;
}
table span{
	min-height: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
#you_win, #you_lose{
	width: 200px;
	height: 300px;
	background-color: gray;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 12px;
	background-image: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
	display: none;
	opacity: 0;
}
#you_win h3{
	font-size: 33px;
}
#you_win span{
	font-size
}
#you_win input, #you_lose input{
	width: 109px;
    height: 39px;
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    border-radius: 22px;
    cursor: pointer;
}
#coin {
	font-size: 33px;
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
#record{
	font-size: 18px;
    position: fixed;
    top: 42%;
    left: 52%;
    width: 100%;
    transform: translate(-50%, -50%);
}
#score{
	position: fixed;
    font-size: 21px;
    left: 16px;
    top: 19%;
}
#you_win_back, #you_lose_back{
	background-image: url(./win_lose.png);
    position: absolute;
    width: 166%;
    height: 69px;
    left: -70px;
    top: -33px;
    background-position: -398px 110px;
    background-size: 378px;
}
#you_lose_back{
    background-position: -398px 218px;
}
#you_lose{
	background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
#coin_lose{
	font-size: 46px;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 50%;
    transform: translateY(10px);
}
#coin_value{
	position: absolute;
    left: 4px;
    top: 13px;
}
#shop_page{
	width: 100%;
}
.tools{
	position: absolute;
    left: 39px;
    height: 175px;
    top: 25%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tools div{
	width: 50px;
    height: 48px;
    background-size: 100%;
    border: 1px solid black;
    z-index: 4;
    cursor: pointer;
}
.metal{
	background-image: url(bomb_search.png);
	background-position: center;
}
.no_flag{
	background-image: url("no_flag.png");
}
.noric_cnvel2{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/View-refresh.svg/2048px-View-refresh.svg.png");
}
#shop{
	background-image: url("shop.png");
}
#shop_page{
	display: none;
	width: 600px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: gray;
	overflow-y: auto;
}
#close{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0px;
	top: 0px;
	cursor: pointer;
	z-index: 5;
}

#akcia{
	height: 300px;
	background-image: url("https://img.freepik.com/premium-photo/radial-background-halftones-high-speed-abstract-lines_250994-2126.jpg");
	border-radius: 10px 10px 0px 0px;
	position: relative;
}
#akcia div{
	width: 202px;
    height: 196px;
    background-size: 100%;
    position: absolute;
    background-position: bottom;
    background-size: 100%, 35px;
    background-repeat: no-repeat;
    background-position: bottom, right bottom;
}
#akcia .metal{
	left: 23px;
    top: 27px;
    background-image: url(bomb_search.png), url("ereq.png");
    background-position: bottom, center bottom;
}
#akcia .no_flag{
	left: 193px;
    top: 45px;
    background-image: url(no_flag.png), url("ereq.png");
    background-position: center, right bottom;
}
#akcia .noric_cnvel{
	top: 41px;
    right: 15px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/View-refresh.svg/2048px-View-refresh.svg.png"), url("ereq.png");
}
.button_pos{
	width: 73px;
    height: 39px;
    position: absolute;
    bottom: 9px;
    right: 10px;
    cursor: pointer;
}
#metal_shop, #no_flag_shop, #noric_cnvel_shop{
	height: 150px;
	background-color: white;
	border: 1px solid black;
	position: relative;
	background-size: 176px, cover;
    background-position: center,2px 441px;
    background-repeat: no-repeat, repeat;
}
#metal_shop{
	background-image: url(bomb_search.png), url(https://img.freepik.com/premium-vector/black-bomb-vector-illustration-with-sunburst-background-cartoon-bomb_113494-240.jpg);
}
#no_flag_shop{
	background-image: url(no_flag.png), url("https://static.vecteezy.com/system/resources/previews/004/223/162/original/dirty-grunge-hand-drawn-with-brush-strokes-cross-x-illustration-isolated-on-white-background-mark-graphic-design-check-mark-symbol-no-button-for-vote-in-check-box-web-etc-free-vector.jpg");
}
#noric_cnvel_shop{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/View-refresh.svg/2048px-View-refresh.svg.png), url(heart.png);
    background-size: 176px, 310px;
    background-position: center,121px 451px;
}
.border-left{
	border-left: 3px solid black;
}
.border-right{
	border-right: 3px solid black;
}
.border-top{
	border-top: 3px solid black;
}
.border-bottom{
	border-bottom: 3px solid black;
}