/*style bug td*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table{
	width: 500.2px;
	height: 500px;
	border: 1px solid black;
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	top: 60px;
	transform: translateX(-50%);
}

tr,td{
	border: 1px solid black;
	border: initial;
	box-sizing: border-box;
	position: relative;
}
td{
	text-align: center;
	border: 1px solid black;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
td button{
	width: 100%;
	height: 100%;
}
#start_game{
	font-size: 20px;
	margin-top: 10px;
    width: 150px;
    height: 39px;
	background: lime;
	color: black;
	position: absolute;
	left: 50%;
	cursor: pointer;
	transform: translateX(-50%);
}
.td_easy button{
	font-size: 20px;
}
.td_easy button p{
	margin: 10px;
}
.td_hard button p{
	margin: 0px;
	padding: 0;
    font-size: 13px;
}
.td_easy{
	width: 49.81px;
    height: 63px;
}
.td_medium{
	width: 27.67px;
    height: 36px;
}
.td_hard{
	width: 20.75px;
    height: 25px;
    font-size: 11px;
}
.color_1{
	color: blue;
}
.color_2{
	color: green;
}
.color_3{
	color: red;
}
.color_4{
	color: purple;
}
.color_5{
	color: maroon;
}
.color_6{
	color: turquoise;
}
.color_7{
	color: black;
}
.color_8{
	color: gray;
}
td > p{
	padding: 35%;
}
@supports (-ms-ime-align:auto) {
    selector {
        property: value;
    }
}